.product img {
  height: 500px;
}
.icon {
  height: 50px;
  color: yellowgreen;
}

img {
  border: 0;
}
.mgb-20,
.mgb-20-all > * {
  margin-bottom: 20px;
}
.wpx-100,
.wpx-100-after:after {
  width: 100px;
}
.img-round,
.img-rel-round {
  border-radius: 50%;
}
